# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
build/
.next/
out/

# env & secrets
.env
.env.local
.env.*.local
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# aws / serverless
.aws-sam/
.serverless/
cdk.out/
